
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #f5f5f5;
}
a{
    text-decoration: none;
    color: inherit;
    line-height: 1;
    cursor: pointer;
}

#container{
    padding-left: 10%;
    padding-right: 10%;
}
.btn{
    background: white;
    color: #212121;
    padding: 14px 25px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.btn:active{
    scale: 0.9;
    background: #dfdede;
}

.btn img{
    width: 20px;
    margin-left: 10px;
}

.btn.dark-btn{
    background: #212ea0;
    color: #fff;
}
.btn.dark-btn:active{
    scale: 0.9;
    background: #121957;
}



@media (max-width : 1200px){
    #container{
        padding-left: 5%;
        padding-right: 5%;
    }
    .btn{
        padding: 14px 22px ;
    }
}